@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@mixin flexDefault {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.serif {
  font-family: "Fraunces", serif;
}
body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  margin-top: 3rem;
  @include flexDefault;
}
.product {
  width: 90%;
  max-width: 340px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .col-2 {
    flex-basis: 50%;
  }
  &__content {
    padding: 1.5rem 1rem;
  }
  &__img {
    max-inline-size: 100%;
    height: auto;
    margin: 0 auto;

    border-radius: 10px 10px 0 0;
  }
  &__category {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
    font-weight: 500;
  }
  &__name {
    color: hsl(212, 21%, 14%);
    line-height: 1.1;
    margin-block: 0.7rem;
  }
  &__description {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-block-end: 1rem;
  }
  &__prices {
    display: flex;
    align-items: center;
    margin-block-end: 1rem;

    .product__price {
      font-size: 1.7rem;
      font-weight: 600;
      color: hsl(158, 36%, 37%);
      margin-inline-end: 2rem;
    }
    .product__price--former {
      font-size: 0.9rem;
      color: hsl(228, 12%, 48%);
      text-decoration: line-through;
    }
  }
  &__btn {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.7rem;
    display: inline-block;
    width: 100%;
    border: none;
    padding: 0.9rem;

    img {
      margin-inline-end: 0.5rem;
    }
  }
}
.attribution {
  margin-top: 4rem;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);

    &:hover {
      text-decoration: none;
    }
  }
}
@media (min-width: 75rem) {
  .product {
    flex-direction: row;
    max-width: 600px;

    &__img {
      height: 100%;
      border-radius: 10px 0 0 10px;
    }
    &__btn {
      transition: background 0.3s;
      &:hover {
        cursor: pointer;
        background-color: hsl(158, 42%, 18%);
      }
    }
    &__category {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: hsl(228, 12%, 48%);
      margin-block-end: 1rem;
    }
    &__name {
      margin-block-end: 1rem;
    }
    &__description {
      line-height: 1.9;
    }
    &__prices {
      margin-block-end: 1.3rem;
    }
    &__btn {
      margin-block-start: 0.8rem;
    }
  }
}
